<% layout('Boilerplate') -%>
<div class="card my-3 p-3">
    <h1 class="text-centr">Edit Campground</h1>
    <form action="/campgrounds/<%= currentcamp._id %>?_method=PUT" method="POST">
    <div class="my-3">
        <label for="title" class="form-label"> Title </label>
        <input class="form-control" type="text" id="title" name="campground[title]" value="<%=currentcamp.title%>" placeholder="title" />
    </div>
    <div class="mb-3">
        <label for="location" class="form-label"> Location </label>
        <input class="form-control" type="text" id="location" name="campground[loc]" value="<%=currentcamp.loc%>" placeholder="location" />
    </div>

    <div class="mb-3">
    <label for="price" class="form-label"> Price </label>
    <div class="input-group">
        <span class="input-group-text">$</span>
        <input type="number" class="form-control id="price" name="campground[price]" placeholder="0.00" value="<%=currentcamp.price || 10.0%>" step="0.01" aria-label="Amount (in dollar)"/>    
    </div>
    </div>

    <div class="mb-3">
        <label for="description" class="form-label"> Description </label>
        <textarea class="form-control" type="text" id="description" name="campground[desc]" value="<%=currentcamp.desc%>" placeholder="Enter description" rows=4></textarea>
    </div>

    <div class="text-center"> 
        <button class="btn btn-success" >Save Changes</button>
        <a class="btn btn-danger" href="/campgrounds">Cancel</a>
    </div>
    </form>
    
</div>