<% layout('Boilerplate') -%>
<div class="row mb-3">
    <div class="column text-center">
    <img class="rounded mx-auto my-3 w-50 h-50" src=<%= currentcamp.image%>>
        <h1><%= currentcamp.title %></h1>
        <h3 class="text-body-secondary"> Location: <%= currentcamp.loc%> </h3>
        <h3>Price: $<%= currentcamp.price || defaultPrice %></h3>
        
        <div class="row mb-3 justify-content-center">
            <div class="col-auto">
                <a href="/campgrounds/<%= currentcamp._id%>/edit" class="btn btn-primary">Edit</a>
            </div>
            <div class="col-auto">
                <form action="/campgrounds/<%= currentcamp._id%>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
